*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@font-face {
  font-family: "TT Common";
  src: url(../fonts/TTCommons-Regular.ttf) format('truetype');
  font-weight: normal;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  cursor: none;
}
body {
 font-size: 1.6px;
 font-family: 'TT Common', sans-serif;
 background-color: #f3f3f3;
 
}
p {
  font-family: 'TT Common', sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  color: #464646;
}

main {
  padding: 3rem;
}
header {
  position: relative;
}
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 8px;
  height: 8px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 1%;
  z-index: 11000;
  background: #000000;
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: space-between;
}
.spacer {
  flex:  1;
}

.menu-wrapper {
}
.menu {
  display: inline-block;
  display: flex;
  cursor: none;
  flex-direction: column;
  z-index: 999;
  outline: none;
  fill: none;
  align-items: flex-end;
  outline: none;
  background-color: transparent;
  border: 0;
}


.bar1, .bar2, .bar3 {
  height: 2px;
  background-color: #000000;
  margin: 4px 0;
  transition: 0.4s;
}
.bar1 {
  width: 30px;
}
.bar2 {
  width: 4rem;

}
.bar3 {
  width: 1.5rem;
  
}
.noChange.menu:hover .bar1,.noChange.menu:hover .bar2,.noChange.menu:hover .bar3 {
  width: 4rem;

}

/* Rotate first bar */
.menuChange .bar1 {
  width: 3.5rem;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.menuChange .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.menuChange .bar3 {
  width: 3.5rem;
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.menu:active {

}
.menu-nav {
background-color: #ffffff;
width: 40rem;
height: 50rem;
position: absolute;
right: 27rem;
padding: 4rem 2rem;
box-shadow: 0 10px 53px 0 rgba(72, 49, 212, .05);
top: 2rem;
}
.menu-nav::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;

}
.menu-nav ul {
  font-size: 2.4rem;
position: relative;
margin-top: 2rem;
  list-style: none;
  // display: flex;
  flex-direction: column ;
}
.menu-nav__item {
  margin: 0 4rem 0 4rem;
  padding: 1.3rem .5rem;
  // cursor: pointer;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0px);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 1px;
  position: relative;
  overflow: hidden;
}
.noChange.menu-nav {
  display: none;
  opacity: 0;
}
.menu-nav__item::before {
  content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 1.5px;
    height: 1px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.menu-nav:hover::before {
  left: 0px;
    right: 0px;

}

.btn {
  border: 0;
  margin: 5rem 0;
  cursor: none;
  overflow: hidden;
  font-family: 'TT Common', sans-serif ;
  font-size: 2rem;
  color: #464646;
  outline: none;
  background-color: transparent;
  position: relative;
}
.btn__content {
  // position: relative;
  z-index: 1   ;
  padding: 1.8rem 5rem;  
  border: 0.12rem solid #000;
  width: 100%;
}
.btn__content::before {
  background-color: #000000;
  content: "";
  transform: translateX(-100%);
    width: 100%;
    height: 100%;
    // pointer-events: none;
    z-index: -1;
     border: 1rem solid #000;
    position: absolute;
    top: 0rem;  
    bottom: 0;
    left: -2rem;
    right: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
background-image: none;

    transition: all .4s;
}
.btn svg {
  vertical-align: bottom;
    margin-left: 2rem;
    stroke: #464646;
    animation-name: forward;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.btn:hover  .btn__content::before, .btn:active .btn__content::before {
  color: #ffffff;
  transform: translateX(0);
  left: 0;
  height: 108%;
  background-color: #000000;
}
.btn:hover .btn__content {
  color: #f3f3f3;
}
.btn:hover svg {
  stroke: #f3f3f3;
}
.intro {
  // position: relative;
  // font-family: 'DM Serif Display', serif;
  // font-size: 6rem;
  // color: #000;
  width: 80%;
  height: 82px;
  // left: 30px;
  top: 10rem;
  
  color: #000000;
}
 .intro h1 {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  line-height: 82px;
}
.container {
  
  max-width: 138.8rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;

}

.content { display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  width: 100%; 
   margin: 10% 0;
    min-height: 200px; 
    align-items: center; }

.intro__content {
  // display: block;
}
.greeting {
  display: inline-block;
  position: absolute;
  text-rendering: geometricPrecision;
  left: -22rem;
  height: 411px;
  top: 25rem;

  font-family: 'DM Serif Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 33rem;
  // line-height: 100px;
  color: rgba(0, 0, 0, 0.03);
  z-index: -99;
  transform: rotate(90deg);

}