*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@font-face {
  font-family: "TT Common";
  src: url(../fonts/TTCommons-Regular.ttf) format('truetype');
  font-weight: normal;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;

}
body {
 font-size: 1.6px;
 font-family: 'TT Common', sans-serif;
 background-color: #f3f3f3;
 
}
p {
  font-family: 'TT Common', sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  color: #464646;
}

main {
  padding: 3rem;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: space-between;
}
.spacer {
  flex:  1;
}
.menu {
  display: inline-block;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bar1, .bar2, .bar3 {
  height: 2px;
  background-color: #000000;
  margin: 4px 0;
  transition: 0.4s;
}
.bar1 {
  width: 30px;
}
.bar2 {
  width: 40px;

}
.bar3 {
  width: 15px;
  
}
.menu:hover .bar1,.menu:hover .bar2,.menu:hover .bar3 {
  width: 40px;

}

/* Rotate first bar */
.menuChange .bar1 {
  width: 3.5rem;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.menuChange .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.menuChange .bar3 {
  width: 3.5rem;
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.btn {
  border: 0.12rem solid #000;
  padding: 2rem 5rem;
  margin: 5rem 0;
  cursor: pointer;
  font-family: 'TT Common', sans-serif ;
  font-size: 2rem;
  color: #464646;
  background-color: transparent;
}
.btn svg {
  vertical-align: bottom;
    margin-left: 2rem;
    animation-name: forward;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.intro {
  // position: relative;
  // font-family: 'DM Serif Display', serif;
  // font-size: 6rem;
  // color: #000;
  width: 100%;
  height: 82px;
  // left: 30px;
  top: 10rem;
  
  color: #000000;
}
 .intro h1 {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  line-height: 82px;
}
.container {
  
  max-width: 114rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;

}

.content { display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  width: 100%; 
   margin: 10% 0;
    min-height: 200px; 
    align-items: center; }

.intro__content {
  // display: block;
}
.greeting {
  display: inline-block;
  position: absolute;
  text-rendering: geometricPrecision;
  left: -10rem;
  height: 411px;
  top: 25rem;

  font-family: 'DM Serif Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 33rem;
  // line-height: 100px;
  color: rgba(0, 0, 0, 0.03);
  z-index: -99;
  transform: rotate(90deg);

}