@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "clean-ui";
  src: url(../fonts/a.ttf) format("truetype");
  font-weight: normal;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-size: 1.6px;
  font-family: "clean-ui", sans-serif;
}
p {
  font-family: "clean-ui", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  color: #464646;
}
.intro {
  width: 70%;
  height: 82px;
  top: 10rem;
  color: #000000;
}
.intro h1 {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  line-height: 82px;
}
.container {
  position: relative;
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.intro__content {
  display: block;
}
.greeting {
  display: inline-block;
  position: absolute;
  text-rendering: geometricPrecision;
  right: -4rem;
  height: 411px;
  top: 21rem;
  font-family: "DM Serif Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 320px;
  line-height: 100px;
  color: rgba(0, 0, 0, 0.03);
  transform: rotate(90deg);
}


